@{
    ViewData["Title"] = "Index";
}
<div class="details">

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.get('/Bartender/Load', function (data) {
                $str = ``;
                console.log(data);
                $.each(data, function (index, detail) {
                    if (index == 0 || detail.tableName != data[index - 1].tableName) {
                        $str += `<div class="row"><h5>${detail.tableName}</h5>`
                    }
                    if (index != 0 && detail.tableName != data[index - 1].tableName) {
                        $str += `</div><hr>`
                    }
                    $str += `<div class="col-6 col-md-3 col-lg-2 product-col">
                                        <div class="card product-card bg-transparent cursor-pointer" data-id="1">
                                            <div class="ratio ratio-16x9 mb-2 div-hover-effect">
                                                <img src="/img/placeholder.jpg" class="card-img-top rounded-4 rounded-lg-5 object-fit-cover" alt="Äa">
                                            </div>
                                            <div class="row px-3 justify-content-start align-items-center">
                                                <div class="col-12 d-flex p-0">
                                                    <p class="text-primary card-title mb-0 me-3 fw-bold">${detail.productName}</p>
                                                    <p class="text-dark card-title mb-0 fw-bold">x${detail.quantity}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`
                })
                $('.details').append($str);
            })
        })
    </script>
}
