@{
    ViewData["Title"] = "Index";
}
<div class="details">

</div>

@section Scripts {
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        $(document).ready(function () {
            $.get('/Bartender/Load', function (data) {
                $str = ``;
                $.each(data, function (index, detail) {
                    if (index == 0 || detail.tableName != data[index - 1].tableName) {
                        $str += `<div class="row"><h5>${detail.tableName}</h5>`
                    }
                    if (index != 0 && detail.tableName != data[index - 1].tableName) {
                        $str += `</div><hr>`
                    }
                    $str += `<div class="col-6 col-md-3 col-lg-2 product-col">
                                    <div class="btn btn-complete-detail card product-card bg-transparent" data-id="${detail.detailId}">
                                        <div class="ratio ratio-16x9 mb-2 div-hover-effect">
                                            <img src="${detail.productImg}" class="card-img-top rounded-4 rounded-lg-5 object-fit-cover" alt="Đa">
                                        </div>
                                        <div class="row px-3 justify-content-start align-items-center">
                                            <div class="col-12 d-flex p-0">
                                                <p class="text-primary card-title mb-0 me-3 fw-bold">${detail.productName}</p>
                                                <p class="text-dark card-title mb-0 fw-bold">x${detail.quantity}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                })
                $('.details').append($str);
            })

            $(document).on('click', '.btn-complete-detail', function (e) {
                const id = $(this).attr('data-id');
                Swal.fire({
                    title: "Lưu ý!",
                    text: "Xác nhận đã hoàn thành món?",
                    icon: "warning",
                    showCancelButton: false,
                    confirmButtonText: "OK!",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.get(`/Bartender/CompleteDetail/${id}`).done(function (data) {
                            sendNotification(data);
                            e.preventDefault();
                            window.location.href = "/Bartender/Index";
                        })
                    }
                });
            })

        });

        function sendNotification(data) {
            connection.invoke("SendNotification", data).catch(function (err) {
                console.error("Lỗi khi gọi hàm SendNotification: " + err.toString());
            });
        }
        connection.start().then(function () {
            console.log("Kết nối SignalR đã được thiết lập.");
            // Gọi hàm SendNotification sau khi kết nối đã hoàn thành
        }).catch(function (err) {
            console.error("Lỗi khi kết nối SignalR: " + err);
        });

        connection.onclose(function (event) {
            console.log("Kết nối SignalR đã đóng.");
        });

        connection.on("Ord", function (detail) {
            window.location.href = "/Bartender/Index";
        });
    </script>
}
